@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #ced4da;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("./images/worldmap.jpg");
  background-size: cover;
  background-position: center;
}

button {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

#main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-menu-box {
  display: flex;
  background-color: #343a40;
  width: 31.25rem;
  height: 25rem;
  border-radius: 0.625rem;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

#setup-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#setup-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 40vw;
  gap: 0.6rem;
  padding: 20px;
}

#ally-message-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;
  height: 10%;
  width: 100%;
  background-color: #424242;
  border-radius: 0.5rem;
}

#gameboard-layout-container {
  display: flex;
  height: 80%;
  width: 100%;
  background-color: #424242;
  border-radius: 0.5rem;
  padding: 1rem;
}

#axis-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 10%;
  width: 100%;
}

#xAxisButton,
#yAxisButton {
  font-size: 1rem;
  color: #ced4da;
  background-color: #424242;
  border: 0.0625rem solid #fff;
  height: 3rem;
  width: 11rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

#xAxisButton:hover,
#yAxisButton:hover {
  background-color: #555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Active Effect */
#xAxisButton:active,
#yAxisButton:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* default color for x button */
#xAxisButton {
  background-color: #000000;
}

#xAxisButton.active,
#yAxisButton.active {
  background-color: #000000;
}
#xAxisButton.inactive,
#yAxisButton.inactive {
  background-color: #424242;
}
#battleship-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.battleship-container {
  display: flex;
  height: 8rem;
  width: 8rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.battleship-container p {
  font-size: 0.9rem;
}

/* Hover Effect */
.battleship-container:hover {
  transform: scale(1.05);
  background-color: #0a2b4a;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.shipImg {
  pointer-events: none;
  user-select: none;
  position: relative;
  fill: #c0c0c0;
  stroke: #333333;
  height: 3.5rem;
  width: 6rem;
}

.placed-ships {
  pointer-events: none;
  z-index: -1;
}

.placed-ship-containers {
  pointer-events: none;
}

#submarineImg {
  padding-top: 1rem;
  width: 8rem;
  height: 4rem;
}

#game-page {
  position: relative;
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#game-container {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}
#gameboardSection {
  display: flex;
  gap: 1rem;
  height: 70%;
}

#quoteSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.message-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;
  height: 5.2rem;
  width: 100%;
  background-color: #424242;
  border-radius: 0.5rem;
}
.gameboard-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #424242;
  padding: 1rem;
  border-radius: 0.5rem;
}

.gameboard-header {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#x-axis-grid-container {
  display: flex;
  height: 100%;
}

#x-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 0.5rem;
  user-select: none;
}

.y-axis {
  padding-left: 3rem;
  padding-bottom: 0.3rem;
  letter-spacing: 3.05rem;
  user-select: none;
}

#setup-gameboard .y-axis {
  letter-spacing: 2.85rem;
}
.gameboard-grid {
  z-index: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  border: 2px solid black;
}

#gridaAxis-container {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.squares {
  user-select: none;
  position: relative;
  border: 2px solid black;
  flex: 1 1 10%;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

/* Hover Effect */
.squares:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Active Effect */
.squares:active {
  background-color: rgba(
    255,
    255,
    255,
    0.4
  ); /* Darker highlight when clicked */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

#reset-confirm-button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 10%;
  width: 100%;
  background-color: #424242;
  border-radius: 0.5rem;
}
.actionButtons {
  font-size: 1rem;
  color: #ced4da;
  background-color: #424242;
  border: 0.0625rem solid #fff;
  height: 3rem;
  width: 9rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.actionButtons:hover {
  background-color: #555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.actionButtons:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

#title {
  cursor: default;
  font-weight: 400;
  font-size: 2.9375rem;
  margin-bottom: 4.375rem;
  margin-top: 2.8125rem;
}

#nameInput {
  display: flex;
  height: 3.125rem;
  width: 15.625rem;
  border: none;
  border-bottom: 0.125rem solid #adb5bd;
  box-shadow: none;
  background-color: #343a40;
  margin-bottom: 3.75rem;
  font-size: 1.125rem;
  color: #ced4da;
  padding: 0 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#nameInput:hover {
  border-bottom: 0.125rem solid #495057;
}

#nameInput:focus {
  border-bottom: 0.125rem solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

#nameInput:focus {
  outline: none;
  border-color: #f8f9fa;
  box-shadow: 0 0 0.3125rem #343a40;
}
#enterCombatBtn {
  background-color: #343a40;
  color: #ced4da;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

#enterCombatBtn:hover {
  transform: scale(1.05);
  background-color: #495057;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#enterCombatBtn:active {
  transform: scale(0.98);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#githubBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 3.125rem;
  width: 6.25rem;
  color: #ced4da;
  background-color: #343a40;
  border-radius: 0.625rem;
  outline: none;
  border: none;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

#githubBtn:hover {
  transform: scale(1.05);
  background-color: #495057;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#githubBtn:active {
  transform: scale(0.98);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.squares.hit-disabled,
.squares.missed-disabled {
  pointer-events: none;
  position: relative;
}

.missed-disabled div {
  pointer-events: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  background-color: #003366;
  animation: moveDot 0.5s forwards;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hit-disabled div {
  pointer-events: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  background-color: #660000;
  animation: moveDot 0.5s forwards;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes moveDot {
  0% {
    transform: translate(-50%, -50%) translate(-20px, -20px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) translate(0, 0);
    opacity: 1;
  }
}

.game-over-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2a2a2a;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
}

.game-over-modal p {
  text-align: center;
}

.human-modal {
  background-color: #2a2a2a;
  box-shadow: 0 0 2rem rgba(192, 192, 192, 0.5);
}
.computer-modal {
  color: black;
  background-color: #808080;
  box-shadow: 0 0 2rem rgba(192, 192, 192, 0.5);
}

.heading-result {
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.5rem;
}

.resultImg {
  border-radius: 50%;
  height: 5rem;
}

#end-game-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.highlight.blue {
  background-color: #003366;
}

.highlight.red {
  background-color: #660000;
}
.disabled-confirmButton {
  border-color: rgba(255, 255, 255, 0.6509803922);
  color: rgba(255, 255, 255, 0.6509803922);
  pointer-events: all;
  cursor: not-allowed;
}

#enemyMessageSection {
  display: flex;
  text-align: right;
  width: 100%;
}

#enemyParagraph {
  flex: 1;
}

#enemyAvatar {
  transform: scaleX(-1);

  order: 2;
}

.avatar {
  user-select: none;
  border-radius: 50%;
}

#computer-grid .squares,
#player-grid .squares {
  cursor: crosshair;
}

#computer-gameboard,
#enemyMessageSection {
  background-color: #808080;
  color: black;
}

#player-gameboard,
#allyMessageSection {
  background-color: #2a2a2a;
}

#computer-grid .placed-ships {
  filter: brightness(0) saturate(100%) invert(20%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(100%) contrast(90%);
}

@keyframes yShipPlacementAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9) rotate(90deg) translate(0px, -100%);
    transform-origin: left top;
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(90deg) translate(0px, -100%);
    transform-origin: left top;
  }
}
@keyframes shipPlacementAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.placed-ships {
  animation: shipPlacementAnimation 0.5s ease-out forwards;
}

.y-ships {
  animation: yShipPlacementAnimation 0.5s ease-out forwards;
}
